html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
   @mixin ========================================================================= */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   @mixin ========================================================================= */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
   @mixin ========================================================================= */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   @mixin ========================================================================= */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   @mixin ========================================================================= */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
   @mixin ========================================================================= */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   @mixin ========================================================================= */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  background-color: black;
}

.popup {
  position: absolute;
  top: 20px;
  left: 50%;
  min-width: 200px;
  padding: 20px;
  background-color: white;
  -webkit-transform: translate(-50%, -300px);
      -ms-transform: translate(-50%, -300px);
          transform: translate(-50%, -300px);
  border-radius: 3px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 10;
}

.popup--show {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.popup__text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.popup__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.close-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
  background-color: red;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.spin-wheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
  background-color: green;
  border-radius: 3px;
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0 10px;
  border-top: 30px solid white;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  z-index: 3;
}

.wheel-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

.wheel {
  position: relative;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  overflow: hidden;
  -webkit-transition: -webkit-transform 5s ease-out;
  transition: -webkit-transform 5s ease-out;
  -o-transition: transform 5s ease-out;
  transition: transform 5s ease-out;
  transition: transform 5s ease-out, -webkit-transform 5s ease-out;
}

@media screen and (max-width: 700px) {
  .wheel {
    width: 100%;
    height: 100vw;
  }
}

.wheel__segment {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 50%;
  border-color: transparent;
  border-style: solid;
  border-width: 0 205px;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

@media screen and (max-width: 700px) {
  .wheel__segment {
    border-width: 0 calc((100vw / 4) + ((100vw / 2) * 0.08));
  }
}

.wheel__segment:nth-of-type(1) {
  -webkit-transform: translateX(-50%) rotate(0deg);
      -ms-transform: translateX(-50%) rotate(0deg);
          transform: translateX(-50%) rotate(0deg);
  border-top: 350px solid green;
}

@media screen and (max-width: 700px) {
  .wheel__segment:nth-of-type(1) {
    border-top: calc(100vw / 2) solid green;
  }
}

.wheel__segment:nth-of-type(2) {
  -webkit-transform: translateX(-50%) rotate(60deg);
      -ms-transform: translateX(-50%) rotate(60deg);
          transform: translateX(-50%) rotate(60deg);
  border-top: 350px solid yellow;
}

@media screen and (max-width: 700px) {
  .wheel__segment:nth-of-type(2) {
    border-top: calc(100vw / 2) solid yellow;
  }
}

.wheel__segment:nth-of-type(3) {
  -webkit-transform: translateX(-50%) rotate(120deg);
      -ms-transform: translateX(-50%) rotate(120deg);
          transform: translateX(-50%) rotate(120deg);
  border-top: 350px solid red;
}

@media screen and (max-width: 700px) {
  .wheel__segment:nth-of-type(3) {
    border-top: calc(100vw / 2) solid red;
  }
}

.wheel__segment:nth-of-type(4) {
  -webkit-transform: translateX(-50%) rotate(180deg);
      -ms-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
  border-top: 350px solid cyan;
}

@media screen and (max-width: 700px) {
  .wheel__segment:nth-of-type(4) {
    border-top: calc(100vw / 2) solid cyan;
  }
}

.wheel__segment:nth-of-type(5) {
  -webkit-transform: translateX(-50%) rotate(240deg);
      -ms-transform: translateX(-50%) rotate(240deg);
          transform: translateX(-50%) rotate(240deg);
  border-top: 350px solid blue;
}

@media screen and (max-width: 700px) {
  .wheel__segment:nth-of-type(5) {
    border-top: calc(100vw / 2) solid blue;
  }
}

.wheel__segment:nth-of-type(6) {
  -webkit-transform: translateX(-50%) rotate(300deg);
      -ms-transform: translateX(-50%) rotate(300deg);
          transform: translateX(-50%) rotate(300deg);
  border-top: 350px solid orange;
}

@media screen and (max-width: 700px) {
  .wheel__segment:nth-of-type(6) {
    border-top: calc(100vw / 2) solid orange;
  }
}

.number {
  position: absolute;
  top: -300px;
  left: 50%;
  font-size: 36px;
  color: #ffffff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 700px) {
  .number {
    top: calc((-100vw / 2) + 50px);
  }
}

.wheel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
  background-color: red;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 50px;
}

.button--rotating {
  pointer-events: none;
}
